default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: jira_clone_development
  username: postgres
  password: rabi123
  host: localhost
  port: 5432

test:
  <<: *default
  database: jira_clone_test
  username: postgres
  password: rabi123
  host: localhost
  port: 5432

# PRODUCTION CONFIGURATION (Railway)
production:
  primary:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    
  cache:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    
  queue:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/queue_migrate

  cable:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/cable_migrate