default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: jira_clone_development
  username: postgres
  password: rabi123
  host: localhost
  port: 5432

test:
  <<: *default
  database: jira_clone_test
  username: postgres
  password: rabi123
  host: localhost
  port: 5432

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  
  cable:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  migrations_paths: db/cable_migrate

queue:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  migrations_paths: db/queue_migrate